.Header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .Header {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__section {
        margin-top: 15px;
    }
}

.header__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    flex-grow: 1;
    width: 100%;
}

.logo::after {
    margin-top: 0.5%;
    background: #4b6cc1;
    border-radius: 1000px;
    content: "";
    display: block;
    height: 6px;
    max-width: 40px;
    width: 100%;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
}

.header__menu>a {
    margin-right: 4%;
    margin-top: 18px;
    font-weight: 600;
    font-size: 18px;
    color: #5e5e5e !important
}

.header__menu>a:hover {
    color: #4b6cc1 !important
}

.header__menu .active {
    color: #4b6cc1 !important
}

.header__menu .active::after {
    margin-top: 1%;
    background: #4b6cc1;
    border-radius: 1000px;
    content: "";
    display: block;
    height: 6px;
    max-width: 6px;
    width: 100%;
    margin: auto
}